@charset "UTF-8";


.raçao {
    background: url(https://i.pinimg.com/1200x/c6/2b/9b/c62b9b5820211ab996f3e015e2900232.jpg) no-repeat ;
    background-size: cover;
}
.raçao img {
    width: 100%;
    height: 500px;
}