@charset "UTF-8";

@media screen and (min-width:768px) {
    header {
        gap: 50px;
        flex-direction: row;
        padding: 10px 40px;
    }

    header h1 {
        font-size: 41px;
    }

    #links ul {
        gap: 25px;
        width: auto;
    }
}